<div>
	<div>${nls.label1}.</div>
	<div>${nls.label2}.[${config.configText}]</div>
  <div data-dojo-attach-point="mapIdNode"></div>
  <div data-dojo-attach-point="vertexCount"></div>
    <form>
        <input type="file" id="myfile" />
        <input type="button" onclick="that1.callAjax();" value="Upload" />
    </form>
</div>